{% extends "base.html" %}


{% block header_title %} 
	About
{% endblock %}


{% block navlinks %}
		<li>
			<a href="../">Stops</a>
		</li>
		<li>
			<a href="../about">About</a>
		</li>
		<li>
			<a href="../map.html">Map</a>
		</li>
		<li>
			<a href="../contact">Contact</a>
		</li>		
{% endblock %}


{% block title %} 
	About Sitterson Tour
{% endblock %} 


{% block subtitle %} 
{% endblock%} 


{% block content %} 
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<p>Fill with Content</p>
			</div>
		</div>
	</div>
</article>

<hr>
{% endblock %}
