{% extends "base.html" %}


{% block header_title %} Sitterson Tour {% endblock %}


{% block title %} Sitterson Tour {% endblock %} 


{% block subtitle %} A Guided Tour of the UNC Computer Science Department {{ stop.subtitle }}
{% endblock%} 


{% block content %} 
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				 {% for stop in stop_list %}
                <div class="post-preview">
                    <a href="stop/{{ stop.slug }}">
                        <h2 class="post-title">
                            {{ stop.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ stop.description }}
                        </h3>
                    </a>
                </div>
                <hr>
                {% endfor %}
                <ul class="pager">
                    <li class="next">
                        <a href="#">More Stops &rarr;</a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</article>

<hr>
{% endblock %}
