{% extends "base.html" %}


{% block header_title %} 
	{{ stop.title }} 
{% endblock %}


{% block navlinks %}
		<li>
			<a href="../../">Stops</a>
		</li>
		<li>
			<a href="about.html">About</a>
		</li>
		<li>
			<a href="map.html">Map</a>
		</li>
		<li>
			<a href="../contact">Contact</a>
		</li>		
{% endblock %}


{% block title %} 
	{{ stop.title }}
{% endblock %} 


{% block subtitle %} 
	{{ stop.subtitle }}
{% endblock%} 


{% block content %} 
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{ stop.content }}
			</div>
		</div>
	</div>
</article>

<hr>
{% endblock %}
