{% extends "base.html" %}


{% block header_title %} 
	Map
{% endblock %}


{% block navlinks %}
		<li>
			<a href="../">Stops</a>
		</li>
		<li>
			<a href="../about/">About</a>
		</li>
		<li>
			<a href="../map/">Map</a>
		</li>
		<li>
			<a href="../contact/">Contact</a>
		</li>		
{% endblock %}


{% block title %} 
Map
{% endblock %} 


{% block subtitle %} 
	
{% endblock%} 


{% block content %} 
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<a href="#">
                    <img class="img-responsive" src="http://cs.unc.edu/files/2014/10/SittBrooks-level-0-horiz.jpg" alt="">
                </a>
                <a href="#">
                    <img class="img-responsive" src="http://cs.unc.edu/files/2014/10/SittBrooks-level-1-horiz.jpg" alt="">
                </a>
                <a href="#">
                        <img class="img-responsive" src="http://cs.unc.edu/files/2014/10/SittBrooks-level-2-horiz.jpg" alt="">
                </a>
                <a href="#">
                        <img class="img-responsive" src="http://cs.unc.edu/files/2014/10/SittBrooks-level-3-horiz.jpg" alt="">
                </a>
			</div>
		</div>
	</div>
</article>

<hr>
{% endblock %}


{% block javascript %}
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/js/clean-blog.min.js"></script>
{% endblock %}